.Menu {
  background: rgb(201, 207, 27);
  display: table;
  width: 100%;
}
/*Desplazar menú a la izquierda*/
.Menu {
  float: left;
}
.Menu ul {
  position: absolute;
}
.Menu > li > ul {
  top: 100%;
}
.Menu ul ul {
  left: 100%;
  top: 0;
}
