a:visited {
  /*Cuando un link es visitado, cambia de color*/
  /* STORY 2.- LINKS - Apartado P */
  color: hotpink;
}

a:hover {
  /*Cuando se pone el puntero sobre un link*/
  /* STORY 2.- LINKS - Apartado P */
  color: yellow;
}

a:active {
  color: blue;
}

.titulosBlancos {
  /*Características de los títulos en blanco*/
  font-size: calc(12px + 2vw); /*Responsive text*/
  color: white;
  text-shadow: 2px 2px 2px black;
  text-decoration: none; /*Quitamos cualquier tipo de decoración*/
  outline-style: outset; /*Establecemos los bordes por fuera*/
}

.textosBlancos {
  /*Características de los textos en blanco*/
  color: white;
  text-shadow: 3px 3px 3px black; /*Sombra al texto*/
  text-indent: 25px; /*Hacer que aparezca más a la derecha la primera línea de los textos*/
  font-size: calc(12px + 1.5vw);
  text-align: justify;
  line-height: 1.8; /*Altura entre líneas*/
}

/*FOOTER*/
.footerBlanco {
  color: white;
  text-indent: 25px;
  font-size: calc(4px + 1.5vw);
  font-style: italic;
  font-weight: bold; /*Hacer más grueso el texto*/
}

.footerNegro {
  color: black;
  text-indent: 25px;
  font-size: calc(4px + 1.5vw);
  font-style: italic;
  font-weight: 400;
}

/*LISTAS*/
.listaBlanca {
  color: white;
  text-decoration: underline;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}

#listaPequeña {
  font-size: 20px;
  color: white;
  text-align: justify;
  text-decoration: overline; /* STORY 2.- FORMATO - Apartado F */
  text-shadow: 3px 3px 3px black;
}

.textosCentrados {
  text-align: center;
}

/*TEXTOS DE COLOR NEGRO*/
.titulosNegros {
  /*font-size: 25px;*/
  font-size: 5vw;
  color: black;
  text-decoration: none;
  font-family: "Space Mono", monospace; /* STORY 2.- FORMATO - Apartado F */
}

.textosNegros {
  color: black;
  /*text-shadow: 1px 1px 2px black;*/
  text-indent: 15px;
  font-size: calc(12px + 1.5vw);
  text-align: justify;
  font-family: "Trirong", sans-serif;
  line-height: 1.8;
}

.aumentarTitulosContacto {
  font-size: calc(12px + 1.5vw);
  font-weight: bold;
}

.textoFormulario {
  font-size: 18px;
  font-weight: bold;
}

.textoSinSombra {
  font-size: 3vw;
  text-indent: 10px;
}

#inicio {
  font-size: 2.5vw;
  text-align: justify;
  font-style: italic;
  text-indent: 15px;
  font-family: "Fauna One", serif; /*Font Pairing - STORY 7: Apartado 10 */
}

#sobreNosotros {
  font-size: 2.3vw;
  text-align: center;
  color: white;
}

.textoBlancoCentrado {
  text-align: center;
  font-size: 2.5vw;
  color: white;
  margin-left: 10%; /*Story3*/
  font-style: bold;
}

.Sofia {
  /*Google Font*/
  font-family: "Sofia", sans-serif; /* STORY 2.- FUENTES - Apartado D */ /*FUENTE DE GOOGLE*/
  font-size: calc(12px + 1.5vw);
}

.uppercase {
  /*MAYÚSCULAS*/
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: Cinzel, serif; /*Font Pairing - STORY 7: Apartado 10 */
}
